.tile{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: inline-block;
}

.start{
    background-color: green;
}

.end{
    background-color: red;
}

.path{
    background-color: yellow;
}